.header {
    font-family: 'Montserrat-Regular';
}

.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    max-width: 1220px;
    margin: 0 auto;
}

.navigation__name {
    font-weight: 600;
    padding-left: 35px;
    color: brown;
}

.menu__link:last-child {
    padding-left: 25px;
}