/* здесь используйте глобальные переменные */

//Colors
$header-background: #283645;
$text-light: #ffffff;
$text-dark: rgba(40, 54, 69, 1);

//Viewports
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;